---
layout: default
---
<section class="meta">
<span class="time">
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
{% if page.categories.size != 0 %}
 | 
<span class="categories">
  分类
  {% for cat in page.categories %}
  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags.size != 0 %}
 | 
<span class="tags">
  标签
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
</section>
<section class="post">
{{ content }}
</section>
<section align="right">
<br/>
<span>
{% if page.previous %}
    <a class="next" href="{{ page.previous.url }}" {% endunless %}>上一篇</a>
  {% else %}
    <span class="next disabled" {% endunless %}>上一篇</span>
  {% endif %}
&nbsp;&nbsp;&nbsp;
{% if page.next %}
    <a class="next" href="{{ page.next.url }}" {% endunless %}>下一篇</a>
  {% else %}
    <span class="next disabled" {% endunless %}>下一篇</span>
  {% endif %}
</span>
</section>
{% include comments.md %}
